<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelloWorld</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
    <h1>v-model数据源绑定 实例</h1>
    <hr>
    <div id="app">
        <!-- 双向数据绑定 -->
        <p>原始文本信息：{{message}}</p>
        <br>
        <p>v-model<input type='text' v-model='message'></p>
        <!-- lazy修饰符 input失去焦点的时候触发数据变化 -->
        <p>v-modle.lazy<input type='text' v-model.lazy='message'></p>
        <!-- number修饰符 限制仅可输入数字 -->
        <p>v-modle.number<input type='text' v-model.number='message'></p>
        <!-- trim修饰符 去除收尾空格 -->
        <p>v-modle.trim<input type='text' v-model.trim='message'></p>
        <hr>
        <h3>文本域</h3>
        <textarea name="" id="" cols="30" rows="10" v-model='message'></textarea>
        <hr>
        <h3>多选框绑定一个值</h3>
        <input type="checkbox" id='isTrue' v-model='isTrue'>
        <label for="isTrue">{{isTrue}}</label>
        <hr>
        <p>
            <!-- 多选框v-model的数据源需要设置为数组 -->
            <!-- 只需要判断true&false v-model数据源需要设置为'' -->
            <!-- checkbox 点击勾选时，会将value的值放入v-model的数据源中 -->
            <input type="checkbox" id='wanzy' value='wanzy' v-model='web_names'>
            <label for="isTrue1">wanzy</label>
            <input type="checkbox" id='LuLu' value='LuLu' v-model='web_names'>
            <label for="isTrue2">LuLu</label>
            <input type="checkbox" id='Panda' value='Panda' v-model='web_names'>
            <label for="isTrue3">Panda</label>
        </p>
        <p>{{web_names}}</p>
        <hr>
        <h3>单选按钮绑定</h3>
        <input type="radio" id='one' value='男' v-model='sex'>
        <label for="one">男</label>
        <input type="radio" id='two' value='女' v-model='sex'>
        <label for="two">女</label>
        <p>{{sex}}</p>

    </div>
    <script type="text/javascript">
        var app = new Vue({
            el:'#app',
            data:{
                message:'hello world!',
                isTrue:true, // 为true，checkbox默认勾选
                web_names:[],
                sex:'男', // radio默认选中value为男对应的值
            }
        })
    </script>
</body>
</html>