.bread_div {
    padding: .5rem;
    border-bottom: 1px solid #eee;
    background-color: #e1f0ff;
}

.detailed_title {
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem;
}

.center {
    text-align: center;
}

.detailed_content {
    padding: 1.3rem;
    font-size: 1rem;
}

.detail_nav {

}

.nav_title {
    text-align: center;
    color: #888;
    border-bottom: 1px solid rgb(30, 144, 255);
}