.list_title {
    font-size: 1.3rem;
    color: #1e90ff;
    padding: 0 0.5rem;
}

.list_context {
    color: #777;
    padding: .5rem;
}

.list_icon {
    padding: .5rem 0;
    color: #aaa;
}

.list_icon span {
    display: inline-block;
    padding: 0 10px;
}